In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("recipes.csv")
df.head(2)

,Unnamed: 0,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
0,0,Classic Margherita Pizza,20,15,4,300,98
1,1,Vegetarian Stir-Fry,15,20,3,250,26

In [5]:
df = pd.read_csv("recipes.csv", index_col=0)
df.head(2)

,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
0,Classic Margherita Pizza,20,15,4,300,98
1,Vegetarian Stir-Fry,15,20,3,250,26

In [7]:
df[df["cookTimeMinutes"] < 15]

,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
2,Chocolate Chip Cookies,15,10,24,150,13
6,Tomato Basil Bruschetta,15,10,6,120,95
8,Caprese Salad,10,0,2,200,82
21,Mango Lassi,10,0,2,180,15
22,Italian Tiramisu,30,0,6,350,0
24,Blueberry Banana Smoothie,10,0,1,220,30
28,Lebanese Falafel Wrap,15,10,2,400,84
29,Brazilian Caipirinha,5,0,1,150,55

In [9]:
df["caloriesPerServing"].min()

np.int64(120)

In [10]:
df [ df["caloriesPerServing"] ==  df["caloriesPerServing"].min() ]

,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
6,Tomato Basil Bruschetta,15,10,6,120,95

In [14]:
df.groupby("servings").agg(['count'])

          name prepTimeMinutes cookTimeMinutes caloriesPerServing reviewCount
         count           count           count              count       count
servings
1            2               2               2                  2           2
2            5               5               5                  5           5
3            4               4               4                  4           4
4           12              12              12                 12          12
5            1               1               1                  1           1
6            5               5               5                  5           5
24           1               1               1                  1           1

In [15]:
df.groupby("servings")["name"].agg(['count'])

          count
servings
1             2
2             5
3             4
4            12
5             1
6             5
24            1

In [16]:
df[df["servings"] == 24]

,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
2,Chocolate Chip Cookies,15,10,24,150,13

In [17]:
retete_noi =   {"name" : ["Tiramisu", "Gogosi"], "prepTimeMinutes":[25, 20], "cookTimeMinutes" :[90, 40], 	"servings" : [12, 40], "caloriesPerServing" : [500, 600], "reviewCount" :[3, 5]}

In [19]:
df_noi = pd.DataFrame(retete_noi)
df_noi

,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
0,Tiramisu,25,90,12,500,3
1,Gogosi,20,40,40,600,5

In [29]:
result_df = pd.concat([df, df_noi])
result_df.head()

,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
0,Classic Margherita Pizza,20,15,4,300,98
1,Vegetarian Stir-Fry,15,20,3,250,26
2,Chocolate Chip Cookies,15,10,24,150,13
3,Chicken Alfredo Pasta,15,20,4,500,82
4,Mango Salsa Chicken,15,25,3,380,63