In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("recipes.csv")
df.head(2)

,Unnamed: 0,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
0,0,Classic Margherita Pizza,20,15,4,300,98
1,1,Vegetarian Stir-Fry,15,20,3,250,26

In [5]:
df = pd.read_csv("recipes.csv", index_col=0)
df.head(2)

,name,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,reviewCount
0,Classic Margherita Pizza,20,15,4,300,98
1,Vegetarian Stir-Fry,15,20,3,250,26